.form-container{
    margin-top: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;;
}


label{
    display: inline-block;
    font-size: 20px;
    
}

input{
    display: block;
    font-size: 15px;
    padding:  5px 10px;
    outline: none;
}


.expenses{
    margin-bottom: 20px;
    

}



.button-item{
    text-align: center;
    margin-top: 20px;
}



.button-1{
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-size: 20px;
    margin-left: 20px;
}




    